{%extends 'grom/base.html'%}

{%block title%}Add New Agent{%endblock title%}

{%block content%}
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li class='title'>Agent Form</li>
        </ul>
      </section>
      <!-- Content -->
      <div id='content'>
        <br>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <i class='icon-edit icon-large'></i>
            Agent Details
          </div>
          <div class='panel-body'>
            <form class='form-horizontal' method="POST" action="/add_staffmember/">
            {%csrf_token %}
              <fieldset>
                <div class='form-group col-md-8'>
                  <label class='control-label'>First Name</label>
                  <input class='form-control' placeholder='Enter First Name' type='text' name = 'first_name'>
                </div>
                <div class='form-group col-md-8'>
                  <label class='control-label'>Middle Name</label>
                  <input class='form-control' placeholder='Enter Name' type='text' name = 'middle_name'>
                </div>
                <div class='form-group col-md-8'>
                  <label class='control-label'>Login Id </label>
                  <input class='form-control' placeholder='Enter Login Id' type='text' name = 'login_id'>
                </div>
                <div class='form-group col-md-8'>
                  <label class='control-label'>Password</label>
                  <input class='form-control' placeholder="Enter Password" type='text' name = 'password'>
                </div>
                <img class="img-responisve tocenter" alt="" width="192" height="192" src="../assets/images/thumb_default-bc6b0c05.png" />
                <div class='form-group col-md-8'>
                  <label class='control-label'>Address</label>
                  <input class='form-control' placeholder='Enter Address' type='text' name ='address'>
                </div>
                <div class='form-group col-md-8'>
                  <label class='control-label'>Contact Number</label>
                  <input class='form-control' placeholder='Enter Contact Number' type='text' name = 'contact_no'>
                </div>
                 <div class='form-group col-md-8'>
                  <label class='control-label'>Alternate Contact Number</label>
                  <input class='form-control' placeholder='Enter Alternate Contact Number' type='text' name = 'alt_contact_no'>
                </div>
                <input type="hidden" name="url" value ="{{request.path}}">
                <button class='btn btn-default btn-md col-lg-offset-1'>Upload-Image</button>
              </fieldset>
              <div class='form-actions'>
                <button  class="button btn btn-default" type="submit"> Submit </button>
                <a class='btn' href='/dashboard/'>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{%endblock content%}