{%extends 'grom/base.html'%}
{%block title%}Staff Member {%endblock title%}

{%block content%}
      <!-- Tools -->
      <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
          <li class='title'>Staff Details</li>
        </ul>
        <div id='toolbar'>
          
        </div>
      </section>
      <!-- Content -->
      <div id='content'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <i class='icon-edit icon-large'></i>
            Personal Details
          </div>
          <div class='panel-body'></div>
          <div class='row'>
            <div align='center' class='col-md-3 col-lg-3'>
              <img class="img-responisve img-thumbnail" alt="" width="192" height="192" src="../assets/images/thumb_default-bc6b0c05.png" />
            </div>
            <div class='col-md-9 col-lg-9'>
              <table class='table table-user-information'>
                <tbody>
                  <tr>
                    <th>Login Id</th>
                    <td>{{member.loginid}}</td>
                  </tr>
                  <tr>
                    <th>Password</th>
                    <td>{{member.password}}</td>
                  </tr>
                  <tr>
                    <th>Name</th>
                    <td>{{member.fullname}}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{member.address}}</td>
                  </tr>
                  <tr>
                    <th>Contact Number</th>
                    <td>{{member.contact_no}}</td>
                  </tr>
                  <tr>
                    <th>Alternate Contact Number</th>
                    <td>{{member.alternate_contact_no}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
             </div>
    </div>
   {%endblock content%}